<template>
	<!-- Modal -->
	<div class="modal fade" id="pet_create_modal" tabindex="-1" role="dialog" aria-labelledby="pet_create_modalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="pet_create_modalLabel">{{ $t('pet.create_title') }}</h4>
				</div>
				<div class="modal-body">

					<div class="form-group">
						<label>{{ $t('pet.type') }}</label>
						<select class="form-control" v-model="form.type_id" v-on:change="getBreeds">
							<option v-for="type in types" v-bind:value="type.id">
								{{ $t('pet.type_title.' + type.name) }}
							</option>
						</select>
						<small class="error-control" v-if="error.type_id">{{error.type_id[0]}}</small>
					</div>

					<div class="form-group" v-if="breeds.length > 0">
						<label>{{ $t('pet.breed') }}</label>
						<select class="form-control" v-model="form.breed_id">
							<option v-for="breed in breeds" v-bind:value="breed.id">
								{{ breed.name }}
							</option>
						</select>
						<small class="error-control" v-if="error.breed_id">{{error.breed_id[0]}}</small>
					</div>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" @click="save" :disabled="isProcessing" data-dismiss="modal">{{ $t('form.save') }}</button>
				</div>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
    import Vue from 'vue'
    import Flash from '../../helpers/flash'
    import { get, post } from '../../helpers/api'
    import { toMulipartedForm } from '../../helpers/form'
    export default {
        data() {
            return {
                form: {
                    type_id: '',
                    breed_id: '',
				},
                error: {},
                types: {},
                breeds: {},
                genders: {},
                isProcessing: false,
                storeURL: `/api/pet`,
            }
        },
        created() {
            get('/api/pet/create')
                .then((res) => {
					this.types = res.data.types;
					this.genders = res.data.genders;
                })
        },
        methods: {
            save() {
                const form = toMulipartedForm(this.form, this.$route.meta.mode);
                post(this.storeURL, form)
                    .then((res) => {
                        if(res.data.saved) {
                            Flash.setSuccess(res.data.message);
                            this.$router.push(`/pet/${res.data.id}/edit`)
                        }
                        this.isProcessing = false
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data
                        }
                        this.isProcessing = false
                    })
            },
            getBreeds() {
                let $this = this;
                get('/api/pet/getBreeds/'+ $this.form.type_id)
                    .then((res) => {
                        $this.breeds = res.data.breeds;
                    });
			}
        }
    }
</script>