<template>
	<div id="pet_edit_container">

		<div id="default_page_header">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<img v-if="pet.avatar" :src="'/storage/' + pet.avatar" :alt="pet.name" class="img-circle">
						<img v-else="pet.avatar" :src="'images/no_image.png'" :alt="pet.name" class="img-circle">
					</div>
				</div>
			</div>
		</div>

		<div class="container">

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label>{{ $t('pet.type') }}</label>
						<select class="form-control" v-model="form.type_id" v-on:change="getBreeds">
							<option v-for="type in types" v-bind:value="type.id">
								{{ $t('pet.type_title.' + type.name) }}
							</option>
						</select>
						<small class="error-control" v-if="error.type_id">{{error.type_id[0]}}</small>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" v-if="breeds.length > 0">
						<label>{{ $t('pet.breed') }}</label>
						<select class="form-control" v-model="form.breed_id">
							<option v-for="breed in breeds" v-bind:value="breed.id">
								{{ breed.name }}
							</option>
						</select>
						<small class="error-control" v-if="error.breed_id">{{error.breed_id[0]}}</small>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" v-if="genders">
						<label>{{ $t('pet.gender') }}</label>
						<div class="">
							<input id="pet_male" type="radio" v-model="form.gender" value="male">
							<label for="pet_male">{{ $t('pet.male') }} <i class="fa fa-mars" aria-hidden="true"></i></label>

							<input id="pet_female" type="radio" v-model="form.gender" value="female">
							<label for="pet_female">{{ $t('pet.female') }} <i class="fa fa-venus" aria-hidden="true"></i></label>
						</div>
						<small class="error-control" v-if="error.gender">{{error.gender[0]}}</small>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label>{{ $t('pet.name') }}</label>
						<input class="form-control" v-model="form.name">
						<small class="error-control" v-if="error.name">{{error.name[0]}}</small>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label>{{ $t('pet.status') }}</label>
						<select class="form-control" v-model="form.status">
							<option v-for="status in statuses" v-bind:value="status.name">
								{{ status.name }}
							</option>
						</select>
						<small class="error-control" v-if="error.type_id">{{error.type_id[0]}}</small>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label>{{ $t('pet.age') }}</label>
						<input class="form-control" v-model="form.age">
						<small class="error-control" v-if="error.age">{{error.age[0]}}</small>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label>{{ $t('pet.video') }}</label>
						<input class="form-control" v-model="form.video">
						<small class="error-control" v-if="error.video">{{error.video[0]}}</small>
					</div>
				</div>
			</div>


			<div class="pet_images row">
				<div class="col-md-3" v-if="images.length > 0" v-for="image in images">
					<div class="image">
						<img :src="'/storage/' + image.path" alt="" class="img-responsive">
						<a href="#" class="remove_image" @click="remove(image.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
						<a href="#" class="main_image" @click="mainImage(image.id)" v-if="pet.avatar !== image.path">{{ $t('pet.main_img_btn') }}</a>
					</div>
				</div>
				<div class="col-md-3">
					<dropzone
							ref="myVueDropzone"
							:enctype="'multipart/form-data'"
							id="myVueDropzone"
							:url="dropzone_options.url"
							:paramName="dropzone_options.paramName"
							:acceptedFileTypes="dropzone_options.acceptedFileTypes"
							:maxFileSizeInMB="dropzone_options.maxFileSizeInMB"
							:maxNumberOfFiles="dropzone_options.maxNumberOfFiles"
							:autoProcessQueue="dropzone_options.autoProcessQueue"
							:uploadMultiple="dropzone_options.uploadMultiple"
							:useFontAwesome="dropzone_options.useFontAwesome"
							:header="dropzone_options.header"
							v-on:vdropzone-success-multiple="showSuccess"
							v-bind:preview-template="template">
						<!-- Optional parameters if any! -->
						<input type="hidden" name="_token" :value="drop_data.token">
						<input type="hidden" name="api_token" :value="drop_data.api_token">
					</dropzone>
				</div>
			</div>


			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label>{{ $t('pet.description') }}</label>
						<textarea class="form-control" v-model="form.description" rows="6"></textarea>
						<small class="error-control" v-if="error.description">{{error.description[0]}}</small>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label>{{ $t('pet.family') }}</label>
						<textarea class="form-control" v-model="form.family" rows="6"></textarea>
						<small class="error-control" v-if="error.family">{{error.family[0]}}</small>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label>{{ $t('pet.prizes') }}</label>
						<textarea class="form-control" v-model="form.prizes" rows="6"></textarea>
						<small class="error-control" v-if="error.prizes">{{error.prizes[0]}}</small>
					</div>
				</div>
			</div>


			<div class="form-group">
				<button class="btn btn-primary" @click="update_pet" :disabled="isProcessing">{{ $t('form.save') }}</button>
			</div>


		</div>

	</div>
</template>
<script type="text/javascript">
    import Flash from '../../helpers/flash'
    import { post, get } from '../../helpers/api'
    import Auth from '../../store/auth'
    import Dropzone from 'vue2-dropzone'
    export default {
        components: {
            Dropzone
        },
        data() {
            return {
                pet: {},
                form: {},
                types: {},
                breeds: {},
                error: {},
                genders: {},
                statuses: {},
                images: {},
                isProcessing: false,
                dropzone_options: {
                    url: '/api/upload/' + this.$route.params.id,
                    paramName: 'path',
                    acceptedFileTypes: 'image/*',
                    maxFileSizeInMB: 3,
                    maxNumberOfFiles: 12,
                    autoProcessQueue: true,
                    uploadMultiple: true,
                    useFontAwesome: true,
                    header: {
                        token: $('meta[name="csrf-token"]').attr('content'),
                        api_token: Auth.state.api_token,
                    },
                },
                drop_data: {
                    token: $('meta[name="csrf-token"]').attr('content'),
                    api_token: Auth.state.api_token,
                    project_id: this.$route.params.id
                }
            }
        },
        created() {
            let vm = this;
            get(`/api/pet/${vm.$route.params.id}/edit`)
                .then((res) => {
					vm.pet = res.data.pet;
					vm.form = res.data.pet;
					vm.genders = res.data.genders;
                    vm.types = res.data.types;
                    vm.images = res.data.images;
                    vm.statuses = res.data.statuses;
                });

            //$this.$i18n.t('default.dropzone_error_file_limit');

        },
        methods: {
            showSuccess(file, response) {
                let vm = this;
                if(response.saved){
                    setTimeout(function () {
                        vm.$refs.myVueDropzone.removeAllFiles()
                    }, 1000);
                    vm.getImages();
                }
            },
            template() {
                return `
                  <div class="dz-preview dz-file-preview">
                      <div class="dz-image" style="width: 200px;height: 200px">
                          <img data-dz-thumbnail /></div>
                      <div class="dz-details">
                        <div class="dz-size"><span data-dz-size></span></div>
                        <div class="dz-filename"><span data-dz-name></span></div>
                      </div>
                      <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                      <div class="dz-error-message"><span data-dz-errormessage></span></div>
                      <div class="dz-success-mark"><i class="fa fa-check"></i></div>
                      <div class="dz-error-mark"><i class="fa fa-close"></i></div>
                  </div>
              `;
            },
            update_pet () {
                this.error = {};
                post('/api/pet/' + this.pet.id + '?_method=PUT', this.form)
                    .then((res) => {
                        if(res.data.saved) {
                            Flash.setSuccess(this.$i18n.t('form.pet.updated_msg'));
                            this.$router.push('/profile');
                        }
                        this.isProcessing = false
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data
                        }
                        this.isProcessing = false
                    })
            },
            getBreeds() {
                let $this = this;
                get('/api/pet/getBreeds/'+ $this.form.type_id)
                    .then((res) => {
                        $this.breeds = res.data.breeds;
                    });
            },
            getImages: function () {
                get('/api/pet/' + this.pet.id + '/edit').then(res => {
                    this.pet = res.data.pet;
                    this.images = res.data.images;
                });
            },
            remove: function ($id) {
                let vm = this;
                get('/api/image/remove/' + $id).then(res => {
                    if(res.data.removed){
                        console.log(res.data);
                        vm.getImages();
                    }
                });
            },
            mainImage: function ($id) {
                let vm = this;
                get('/api/avatar/' + $id).then(res => {
                    if(res.data.saved){
                        vm.getImages();
                    }
                });
            }
        }
    }
</script>