<template>
	<div id="pet_list_container">
		<div id="default_page_header">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2>Pet Search</h2>
					</div>
				</div>
			</div>
		</div>


		<div class="container">
			<div id="pet_list" class="row" v-if="pets.length > 0">
				<div class="col-md-3" v-for="pet in pets">
					<div class="pet_item" style="background: #eee; border: 1px solid #eee;">
						<router-link :to="{ path: 'pet/'+ pet.id }">
							<div class="pet_image">
								<img v-if="pet.avatar" :src="'/storage/' + pet.avatar" :alt="pet.name" class="img-responsive">
								<img v-else="pet.avatar" :src="'images/no_image.png'" :alt="pet.name" class="img-responsive">
							</div>
						</router-link>

						<div class="name">{{ pet.name }}</div>
						<div class="gender" v-if="pet.gender">{{ $t('pet.'+pet.gender) }}</div>
						<div class="gender">{{ pet.breed.name }}</div>
					</div>
				</div>
			</div>

			<div class="pets_empty" v-else="pets"><h2>{{ $t('pet.no_pets_msg') }}</h2></div>

		</div>


	</div>
</template>
<script type="text/javascript">
    import Flash from '../../helpers/flash'
    import { post, get } from '../../helpers/api'
    export default {
        data() {
            return {
                pets: {}
            }
        },
        created() {
            get('/api/pet')
                .then((res) => {
					this.pets = res.data.pets;
                })
        },
        methods: {
        }
    }
</script>