<template>
	<div id="pet_show_container">

		<div id="default_page_header">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<img v-if="pet.avatar" :src="'/storage/' + pet.avatar" :alt="pet.name" class="img-circle">
						<img v-else="pet.avatar" :src="'images/no_image.png'" :alt="pet.name" class="img-circle">
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			{{ pet.name }}
		</div>

	</div>
</template>
<script type="text/javascript">
    import Flash from '../../helpers/flash'
    import { post, get } from '../../helpers/api'
    export default {
        data() {
            return {
                pet: {}
            }
        },
        created() {
            get(`/api/pet/${this.$route.params.id}`)
                .then((res) => {
					this.pet = res.data.pet;
					console.log(res.data.pet);
                })
        },
        methods: {
        }
    }
</script>