<template>
	<div id="user_profile">

		<div id="default_page_header">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<img v-if="user.avatar" :src="'/storage/' + user.avatar" class="img-circle">
						<img v-else="user.avatar" :src="'/images/no_image.png'" class="img-circle">
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div id="update_user">

				<div class="form-group">
					<label>{{ $t('form.user.name') }}</label>
					<input class="form-control" v-model="form.name">
					<small class="error-control" v-if="error.name">{{error.name[0]}}</small>
				</div>

				<div class="form-group">
					<label>{{ $t('form.user.email') }}</label>
					<input class="form-control" v-model="form.email">
					<small class="error-control" v-if="error.email">{{error.email[0]}}</small>
				</div>

				<div class="form-group">
					<label>{{ $t('form.user.phone') }}</label>
					<input class="form-control" v-model="form.phone">
					<small class="error-control" v-if="error.phone">{{error.phone[0]}}</small>
				</div>

				<div class="form-group">
					<label>{{ $t('form.user.country') }}</label>
					<input class="form-control" v-model="form.country">
					<small class="error-control" v-if="error.country">{{error.country[0]}}</small>
				</div>

				<div class="form-group">
					<label>{{ $t('form.user.city') }}</label>
					<input class="form-control" v-model="form.city">
					<small class="error-control" v-if="error.city">{{error.city[0]}}</small>
				</div>

				<div class="form-group">
					<label>{{ $t('form.user.street') }}</label>
					<input class="form-control" v-model="form.street">
					<small class="error-control" v-if="error.street">{{error.street[0]}}</small>
				</div>

				<div class="form-group">
					<label>{{ $t('form.user.company') }}</label>
					<input class="form-control" v-model="form.company">
					<small class="error-control" v-if="error.company">{{error.company[0]}}</small>
				</div>

				<div class="form-group">
					<button class="btn btn-primary" @click="update_user" :disabled="isProcessing"><span>{{ $t('form.save') }}</span></button>
				</div>


			</div>
		</div>

	</div>
</template>
<script type="text/javascript">
    import Flash from '../../helpers/flash'
    import { post, get } from '../../helpers/api'
    export default {
        data() {
            return {
                user: {},
                form: {},
                error: {},
                isProcessing: false,
            }
        },
        created() {
            get('/api/profile')
                .then((res) => {
					this.user = res.data.user;
					this.form = res.data.user;
                })
        },
        methods: {
            update_user () {
                this.error = {};
                post('/api/profile/' + this.user.id + '?_method=PUT', this.form)
                    .then((res) => {
                        if(res.data.saved) {
                            Flash.setSuccess(this.$i18n.t('form.user.updated_msg'));
                        }
                        this.isProcessing = false
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data
                        }
                        this.isProcessing = false
                    })
            }
        }
    }
</script>