<template>
	<div id="user_profile">

		<div id="default_page_header">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<img v-if="user.avatar" :src="'/storage/' + user.avatar" class="img-circle">
						<img v-else="user.avatar" :src="'/images/no_image.png'" class="img-circle">
					</div>
				</div>
			</div>
		</div>


		<div class="container">
			<div id="short_info">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">

							<router-link :to="{ path: 'profile/'+ user.id + '/edit' }" class="btn btn-default">
								{{ $t('default.update_profile_link') }}
							</router-link>

							<p class="name" v-if="user.name">{{ user.name }}</p>
							<p class="location">
								<span v-if="user.street">{{ user.street }}, </span>
								<span v-if="user.city">{{ user.city }}</span>
								<span v-if="user.country">, {{ user.country }}</span>
							</p>
							<a href="#" class="btn btn-danger" data-toggle="modal" data-target="#pet_create_modal">
								{{ $t('default.new_pet') }}
							</a>
						</div>
					</div>
				</div>
			</div>


			<div class="row" id="user_pets"	v-if="user_pets.length > 0">
				<div class="col-md-12">
					<h2>{{ $t('pet.my_pets') }}</h2>
				</div>
				<div class="col-md-3" v-for="pet in user_pets">
					<div class="name">{{ pet.name }}</div>
					<div class="name">{{ pet.breed.name }}</div>

					<div class="pet_image">
						<img v-if="pet.avatar" :src="'/storage/' + pet.avatar" :alt="pet.name" class="img-responsive">
						<img v-else="pet.avatar" :src="'/images/no_image.png'" :alt="pet.name" class="img-responsive">
					</div>

					<router-link :to="{ path: 'pet/'+ pet.id }">{{ $t('pet.show_page') }}</router-link>
					<router-link :to="{ path: 'pet/'+ pet.id + '/edit' }">{{ $t('pet.edit') }}</router-link>
				</div>
			</div>
			<div class="pets_empty" v-else="user_pets"><h2>{{ $t('pet.no_pets_msg') }}</h2></div>
		</div>



	</div>
</template>
<script type="text/javascript">
    import Flash from '../../helpers/flash'
    import { post, get } from '../../helpers/api'
    export default {
        data() {
            return {
                user: {},
                user_pets: {},
                isProcessing: false,
                fallback_lang: 'en',
            }
        },
        created() {
            let $this = this;
            get('/api/profile')
                .then((res) => {
                    $this.user = res.data.user;
                    $this.user_pets = res.data.user_pets;

					if($this.user.lang !== '' && $this.user.lang !== null){
                        $this.$i18n.locale = $this.user.lang;
					}
                })
        },
        methods: {

        }
    }
</script>