body {
  padding-top: 40px;
}

.navbar-default {
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}

#default_page_header {
  display: block;
  position: relative;
  background: url('/images/default_header.jpg') no-repeat top -120px center;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 40px 0 0 0;
  text-align: center;
  margin-bottom: 150px;
  img {
    margin-bottom: -100px;
    border: 3px solid #fff;
    width: 200px;
  }
  h2 {
    color: #fff;
    text-transform: capitalize;
  }
}