<template>
	<div class="app_container">

		<!-- Pet Create Modal -->
		<div v-if="auth">
			<pet_create></pet_create>
		</div>


		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<router-link to="/" class="navbar-brand">Pairtail</router-link>
				</div>
				<div id="navbar">
					<ul class="nav navbar-nav navbar-right">
						<li v-if="auth">
							<router-link to="/pets">{{ $t('default.pet_list') }}</router-link>
						</li>
						<li v-if="auth">
							<a href="#" data-toggle="modal" data-target="#pet_create_modal">{{ $t('default.new_pet') }}</a>
						</li>
						<li v-if="auth">
							<router-link to="/profile">{{ $t('default.profile') }}</router-link>
						</li>
						<li v-if="guest">
							<router-link to="/login">{{ $t('default.login') }}</router-link>
						</li>
						<li v-if="guest">
							<router-link to="/register">{{ $t('default.register') }}</router-link>
						</li>
						<li  v-if="auth">
							<a @click.stop="logout">{{ $t('default.logout') }}</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lang <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a @click="set_lang('en')">EN</a>
								</li>
								<li>
									<a @click="set_lang('lt')">LT</a>
								</li>
							</ul>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="flash flash__error" v-if="flash.error">
			{{flash.error}}
		</div>
		<div class="flash flash__success" v-if="flash.success">
			{{flash.success}}
		</div>
		<router-view></router-view>


	</div>
</template>
<script type="text/javascript">
	import Auth from './store/auth'
	import Flash from './helpers/flash'
	import { get, post, interceptors } from './helpers/api'
	export default {
		created() {
			// global error http handler
			interceptors((err) => {
				if(err.response.status === 401) {
					Auth.remove();
					this.$router.push('/login')
				}

				if(err.response.status === 500) {
					Flash.setError(err.response.statusText);
				}

				if(err.response.status === 404) {
					this.$router.push('/not-found');
				}
			});
			Auth.initialize();
		},
        mounted() {
		    let $this = this;
            $this.load_lang();
        },
		data() {
			return {
				authState: Auth.state,
				flash: Flash.state,
				fallback_lang: 'en',
			}
		},
		computed: {
			auth() {
				if(this.authState.api_token) {
					return true;
				}
				return false;
			},
			guest() {
				return !this.auth;
			}
		},
		methods: {
			logout() {
				post('/api/logout')
				    .then((res) => {
				        if(res.data.done) {
				            // remove token
				            Auth.remove();
                            Flash.setSuccess(this.$i18n.t('form.logout_msg'));
				            this.$router.push('/login');
				        }
				    })
			},
            set_lang($lang) {
			    // Set Lang
                let $this = this;
                localStorage.setItem("current_lang", $lang);
                let current_lang = localStorage.getItem("current_lang");

                if(this.auth){
                    $this.saveUserLang(current_lang);
				}

                $this.$i18n.locale = current_lang;
			},
			saveUserLang($lang) {
                post('/api/setLang', { lang: $lang }).then((res) => {});
			},
			load_lang() {
			    // Get lang
				let $this = this;
                let current_lang = localStorage.getItem("current_lang");

                if(this.auth){
                    get('/api/getLang').then((res) => {
                        if(res.data.lang !== '' && res.data.lang !== null){
                            $this.$i18n.locale = res.data.lang;
                        }
                    });
                }else{
                    if(current_lang){
                        $this.$i18n.locale = current_lang;
                    }
                }
			}
		}
	}
</script>
