<template>
    <div class="container">

        <form class="form" @submit.prevent="login">
            <h1 class="form-title">{{ $t('form.login_page.msg') }}</h1>
            <div class="form-group">
                <label>{{ $t('form.email') }}</label>
                <input type="text" class="form-control" v-model="form.email">
                <small class="error-control" v-if="error.email">{{error.email[0]}}</small>
            </div>
            <div class="form-group">
                <label>{{ $t('form.password') }}</label>
                <input type="password" class="form-control" v-model="form.password">
                <small class="error-control" v-if="error.password">{{error.password[0]}}</small>
            </div>
            <div class="form-group">
                <button :disabled="isProcessing" class="btn btn-primary" id="login_button">{{ $t('form.login') }}</button>
            </div>
        </form>

    </div>
</template>
<script type="text/javascript">
    import Flash from '../../helpers/flash'
    import Auth from '../../store/auth'
    import { post, get } from '../../helpers/api'
    export default {
        data() {
            return {
                form: {
                    email: '',
                    password: ''
                },
                error: {},
                isProcessing: false
            }
        },
        mounted() {
            if(Auth.state.api_token){
                this.$router.push('/profile');
            }
        },
        methods: {
            login() {
                this.isProcessing = true;
                this.error = {};
                post('api/login', this.form)
                    .then((res) => {
                        if(res.data.authenticated) {
                            // set token
                            Auth.set(res.data.api_token, res.data.user_id);
                            Flash.setSuccess(this.$i18n.t('form.login_msg'));
                            this.$router.push('/profile');
                        }
                        this.isProcessing = false
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data
                        }
                        this.isProcessing = false
                    })
            }
        }
    }
</script>
