<template>
    <div class="container">

        <form class="form" @submit.prevent="register">
            <h1 class="form-title">{{ $t('form.register_page.msg') }}</h1>
            <div class="form-group">
                <label>{{ $t('form.register_page.name') }}</label>
                <input type="text" class="form-control" v-model="form.name">
                <small class="error-control" v-if="error.name">{{error.name[0]}}</small>
            </div>
            <div class="form-group">
                <label>{{ $t('form.email') }}</label>
                <input type="text" class="form-control" v-model="form.email">
                <small class="error-control" v-if="error.email">{{error.email[0]}}</small>
            </div>
            <div class="form-group">
                <label>{{ $t('form.password') }}</label>
                <input type="password" class="form-control" v-model="form.password">
                <small class="error-control" v-if="error.password">{{error.password[0]}}</small>
            </div>
            <div class="form-group">
                <label>{{ $t('form.register_page.confirm_password') }}</label>
                <input type="password" class="form-control" v-model="form.password_confirmation">
            </div>
            <div class="form-group">
                <button :disabled="isProcessing" class="btn btn-primary">{{ $t('form.register') }}</button>
            </div>
        </form>

    </div>
</template>
<script type="text/javascript">
    import Flash from '../../helpers/flash'
    import Auth from '../../store/auth'
    import { post } from '../../helpers/api'
    export default {
        data() {
            return {
                form: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                },
                error: {},
                isProcessing: false
            }
        },
        mounted() {
            if(Auth.state.api_token){
                this.$router.push('/profile');
            }
        },
        methods: {
            register() {
                this.isProcessing = true;
                this.error = {};
                post('api/register', this.form)
                    .then((res) => {
                        if(res.data.registered) {
                            Flash.setSuccess(this.$i18n.t('form.register_msg'));
                            this.$router.push('/login')
                        }
                        this.isProcessing = false
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data
                        }
                        this.isProcessing = false
                    })
            }
        }
    }
</script>
